* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: rgb(59, 104, 255);
}

body {
  color: white;
  background: #1e1e1e;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;

  font-size: 1rem;
  min-height: 100vh;

  padding: 1rem;
}

[class^="item-"] {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--base-color);
}

.main-container {
  min-height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}

nav ul > * {
  flex: 1;
}

nav ul li {
  padding: 0.5rem;
  outline: 1px solid var(--base-color);
}

#main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

#main > :first-child {
  flex-basis: 500px;
  flex-grow: 9999;
}

#main > :last-child {
  flex-basis: 200px;
  flex-grow: 1;
}

section,
aside {
  padding: 0.5rem;
  outline: 1px solid var(--base-color);
}
